html{
  background-image: url(img/sunrise-seattle-washington.jpg);
}
* {
  color: white;
  font-family: 'Vollkorn', serif;
  outline: 1px none;
}
header {
  text-align: center;
}
section{
  margin-left: auto;
  margin-right: auto;
}
.pics {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  display: block;
}
img {
  width: 150px;
  margin: 25px;
  outline: 1px black;

}
#chart {
  color: white;
  font-family: 'Vollkorn', serif;
  outline: 1px none;
}